body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
   
}
h1{
    font-size: 80px;
    font-weight: 600;
}
p{
    font-size: 18px;
 
}
.orange{
    color: orange;
}
.navbar{
    font-size: 18px;
    font-weight: 600;
    background-color: white;    
}
.nav-link{
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 1% 7%;
}
.nav-link:hover{
    text-decoration: underline;
}
section{
    width: 100%;
    height: 600px;
    background-color: white;
}
.half-width{
    width: 44%;
    margin-left: 4%;
    padding: 1%;
    float: left;
    height: 500px;
}

.hire-link{
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 5px;
    background-image: linear-gradient(orange, #f75b13);

}
.hire-link:hover{
   text-decoration: underline;
   background-image: linear-gradient( #f75b13, orange); 
}

/* top section end */

.cv-button{
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    background-image: linear-gradient(orange, #f75b13)  
}

.cv-button:hover{
    text-decoration: underline;
    background-image: linear-gradient( #f75b13, orange);  
}

/* mid section end */

.last-section{
background-color: #eeeeee;
padding: 10px 0  100px 0;
 
}
#word{
    font-size: 40px;
    text-align: center;
}
.color{
    color: #ff5100b4;
}
.project{
    width: 27%;
    height: 55vh;
    margin: 2% 3.15%;
    float: left;
    background-color: white;
    box-shadow: 2px 5px 20px 2px grey;
    border-radius: 15px;
    cursor: pointer;
}
.project img{
    width: 100%;
}
.lastet{
    text-align: center; 
    font-size: 3rem;
}
.margin{
    margin: 5px 0 10px 10px;
}

/* last section end */

.chat-div{
    height: 40vh;
    width: 80%;
   background-image: url("shapes/Group_33094_1.png");
   /* background-repeat: no-repeat; */
   background-size: cover;
   
    margin: 2% 10%;
    border-radius: 30px;
    position: relative;
}
.chat-div h1{
    font-size: 60px;
    color: white;
    position: absolute;
    left: 10vh; 
    bottom: 8vh;
}
.chat-box{
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    padding: 15px 25px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, #f75b13) ;
    position: absolute;
    right: 100px;
    bottom: 16vh;
}
.chat-box:hover{
    text-decoration: underline;
    background-image: linear-gradient( #f75b13, orange);
}

.contacted{
    text-align: center;
    margin-top: 10vh;
}
.contacted h3{
    color: grey;
    font-size: 1.5rem;
    font-weight: 600;
}
.contacted h2{
    color: #5959ffe5;
    font-size: 2rem;
}
.contacted img{
    width: 5vh;
    height: 5vh;
    margin: 0  10px 40px 10px;
}